<section class="section">
  <form id="post-event-form" class="form">
    <div class="field">
      <label class="label" for="name">Event Name</label>
      <div class="control">
        <input class="input" type="text" id="name" name="name" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="description">Description</label>
      <div class="control">
        <textarea class="textarea" id="description" name="description" required></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label" for="event_date">Event Date</label>
      <div class="control">
        <input class="input" type="datetime-local" id="event_date" name="event_date" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="location">Location</label>
      <div class="control">
        <input class="input" type="text" id="location" name="location" required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Post Event</button>
      </div>
    </div>
  </form>
</section>
<script src="/public/js/event.js"></script>
