<div class="user profile">
    <h2>User Profile</h2>
    {{!-- user profile information starter --}}
    <p><strong>Name:</strong>{{name}}</p>
    <p><strong>Email:</strong> {{email}}</p>
   
    <h3>Your Events</h3>
    {{#if events.length}}
        <ul>
            {{#each events}}
            <li>
                
            </li>
        </ul>


</div>