<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Pulse</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to Social Pulse</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{!-- link to event page --}}
        <a href="/events">Events</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
        {{#if loggedIn}}
            {{> user}}
            {{> eventpage}}
        {{else}}
            {{> login}}
        {{/if}}
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>