<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Pulse</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<main class="container">
        <section class="section">
            <div class="content">
                <h2>Welcome to Social Pulse</h2>
                 <p>
                    Social Pulse is your go-to platform for setting up and joining social gatherings and events in your area. 
                    Whether you're looking to organize a community meetup, a casual hangout, or a large event, 
                    Social Pulse makes it easy to connect with others and make it happen. 
                    Simply sign up, create an event, and invite others to join, or browse events happening around you and participate.
                </p>
                <p>
                    With Social Pulse, you can:
                </p>
                <ul>
                    <li>Create and manage your own events</li>
                    <li>Join events organized by others</li>
                    <li>Explore social gatherings happening near you</li>
                    <li>Stay updated with real-time event notifications</li>
                </ul>
                <p>
                    Ready to get started? Click the button at the top of the page to log in or sign up and join the Social Pulse community!
                </p>
            </div>
        </section>
    </main>
</body>
</html>