/* Global Stylings */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Root Colors */

:root {
  --header: #D1DBBD;
  --background: #ffffff;
  --light-text: #D1DBBD;
  --dark-text: #91AA9D;
  --button: #91AA9D;

}


/* Font Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--dark-text);
  font-weight: 500;
}

body {
  background-color: var(--background);
  font-size: 1.75rem;
  color: var(--dark-text);
}

header {
background-color: var(--header);
color: var(--dark-text);
padding: 20px;
text-align: center;
}

footer {
background-color: var(--header);
color: var(--dark-text);
}

.buttons {
background-color: var(--button) ;
color: var(--light-text);
border: none;
border-radius: 6px;
margin: 20px;
margin-bottom: 60px;
}

a:link {
color: var(--light-text);
}
a:visited {
color: var(--dark-text);
}


/* #header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

p {
  font-family: sans-serif;
  color: var(--dark-text);
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

#signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px; 
}

#login-label {
text-align: center;
}

#signup-label {
text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

#homepage-title {
  color: var(--dark-text);
  text-align: center;
}

li {
  font-family: sans-serif;
}

.input {
  margin-left: 20px;
  background-color: var(--header);
  width: 20%;
color: var(--dark-text);
}

.textarea{
  color: var(--dark-text);
}

#search-location {
  margin-left:20px;
}

#location-title {
  margin-left: 20px;
}

.events-list{
  margin-left:20px;
}

#events-title {
  margin-left: 20px;
}

#events {
  margin-left: 20px;
}