/* Global Stylings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Root Colors */

:root {
  --header: #d1dbbd;
  --background: #ffffff;
  --light-text: #d1dbbd;
  --dark-text: #91aa9d;
  --button: #91aa9d;
}

/* Font Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--dark-text);
  font-weight: 500;
}

body {
  background-color: var(--background);
  font-size: 1.75rem;
}

header {
  background-color: var(--header);
  color: var(--dark-text);
  padding: 20px;
}

footer {
  background-color: var(--header);
  color: var(--dark-text);
}

.buttons {
  background-color: var(--button);
  color: var(--light-text);
  border: none;
  border-radius: 6px;
  margin: 20px;
  margin-bottom: 60px;
}

a:link {
  color: var(--light-text);
}
a:visited {
  color: var(--dark-text);
}

nav {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
}
